{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3Q26H9G81L"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3Q26H9G81L');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Aprende más de estos animes maravillosos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center">Aprende más de estos animes maravillosos</h1>
    
    <div class="row mt-4">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'img/anime1.png' %}" class="card-img-top" alt="Anime 1">
                <div class="card-body">
                    <h5 class="card-title">Demon Slayer</h5>
                    <p class="card-text">Tanjiro Kamado se convierte en un cazador de demonios para vengar a su familia y salvar a su hermana Nezuko.</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'img/anime2.png' %}" class="card-img-top" alt="Anime 2">
                <div class="card-body">
                    <h5 class="card-title">Attack on Titan</h5>
                    <p class="card-text">La humanidad lucha por sobrevivir contra gigantes humanoides conocidos como titanes.</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'img/anime3.png' %}" class="card-img-top" alt="Anime 3">
                <div class="card-body">
                    <h5 class="card-title">My Hero Academia</h5>
                    <p class="card-text">Izuku Midoriya lucha por convertirse en un héroe en un mundo donde las personas tienen superpoderes.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'img/anime4.png' %}" class="card-img-top" alt="Anime 4">
                <div class="card-body">
                    <h5 class="card-title">One Piece</h5>
                    <p class="card-text">Monkey D. Luffy busca el tesoro más grande del mundo, el "One Piece", para convertirse en el Rey de los Piratas.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'img/anime5.png' %}" class="card-img-top" alt="Anime 5">
                <div class="card-body">
                    <h5 class="card-title">Naruto</h5>
                    <p class="card-text">Naruto Uzumaki aspira a convertirse en el Hokage, el líder y protector de su aldea ninja.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'img/anime6.png' %}" class="card-img-top" alt="Anime 6">
                <div class="card-body">
                    <h5 class="card-title">Fullmetal Alchemist: Brotherhood</h5>
                    <p class="card-text">Los hermanos Edward y Alphonse Elric buscan la Piedra Filosofal para restaurar sus cuerpos después de un fallido experimento de alquimia.</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
